<div class="picky {{this.theme || 'hljs'}}">
  {{#if this.data && !this.loading}}
    <pre><code><div class="outer-bracket">{{#if Array.isArray(this.data)}}[{{else}}{{'{'}}{{/if}}</div>{{>'recurse' this.data}}<div class="outer-bracket">{{#if Array.isArray(this.data)}}]{{else}}{{'}'}}{{/if}}</div></code></pre>
  {{elseif this.loading}}
    <div class="loading-message">
      {{{spinner}}}
      {{this.loadingMessage || 'Loading JSON'}}
    </div>
  {{/if}}
</div>